<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BLACK0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,30}</string>
                <key>spriteSourceSize</key>
                <string>{60,30}</string>
                <key>textureRect</key>
                <string>{{0,0},{60,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BLACK1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,30}</string>
                <key>spriteSourceSize</key>
                <string>{60,30}</string>
                <key>textureRect</key>
                <string>{{60,0},{60,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BLACK10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,30}</string>
                <key>spriteSourceSize</key>
                <string>{60,30}</string>
                <key>textureRect</key>
                <string>{{600,0},{60,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BLACK11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,30}</string>
                <key>spriteSourceSize</key>
                <string>{60,30}</string>
                <key>textureRect</key>
                <string>{{660,0},{60,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BLACK2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,30}</string>
                <key>spriteSourceSize</key>
                <string>{60,30}</string>
                <key>textureRect</key>
                <string>{{120,0},{60,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BLACK3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,30}</string>
                <key>spriteSourceSize</key>
                <string>{60,30}</string>
                <key>textureRect</key>
                <string>{{180,0},{60,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BLACK4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,30}</string>
                <key>spriteSourceSize</key>
                <string>{60,30}</string>
                <key>textureRect</key>
                <string>{{240,0},{60,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BLACK5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,30}</string>
                <key>spriteSourceSize</key>
                <string>{60,30}</string>
                <key>textureRect</key>
                <string>{{300,0},{60,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BLACK6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,30}</string>
                <key>spriteSourceSize</key>
                <string>{60,30}</string>
                <key>textureRect</key>
                <string>{{360,0},{60,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BLACK7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,30}</string>
                <key>spriteSourceSize</key>
                <string>{60,30}</string>
                <key>textureRect</key>
                <string>{{420,0},{60,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BLACK8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,30}</string>
                <key>spriteSourceSize</key>
                <string>{60,30}</string>
                <key>textureRect</key>
                <string>{{480,0},{60,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BLACK9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,30}</string>
                <key>spriteSourceSize</key>
                <string>{60,30}</string>
                <key>textureRect</key>
                <string>{{540,0},{60,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,30}</string>
                <key>spriteSourceSize</key>
                <string>{60,30}</string>
                <key>textureRect</key>
                <string>{{720,0},{60,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RED0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,30}</string>
                <key>spriteSourceSize</key>
                <string>{60,30}</string>
                <key>textureRect</key>
                <string>{{780,0},{60,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RED1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,30}</string>
                <key>spriteSourceSize</key>
                <string>{60,30}</string>
                <key>textureRect</key>
                <string>{{840,0},{60,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RED10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,30}</string>
                <key>spriteSourceSize</key>
                <string>{60,30}</string>
                <key>textureRect</key>
                <string>{{1380,0},{60,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RED11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,30}</string>
                <key>spriteSourceSize</key>
                <string>{60,30}</string>
                <key>textureRect</key>
                <string>{{1440,0},{60,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RED2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,30}</string>
                <key>spriteSourceSize</key>
                <string>{60,30}</string>
                <key>textureRect</key>
                <string>{{900,0},{60,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RED3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,30}</string>
                <key>spriteSourceSize</key>
                <string>{60,30}</string>
                <key>textureRect</key>
                <string>{{960,0},{60,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RED4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,30}</string>
                <key>spriteSourceSize</key>
                <string>{60,30}</string>
                <key>textureRect</key>
                <string>{{1020,0},{60,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RED5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,30}</string>
                <key>spriteSourceSize</key>
                <string>{60,30}</string>
                <key>textureRect</key>
                <string>{{1080,0},{60,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RED6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,30}</string>
                <key>spriteSourceSize</key>
                <string>{60,30}</string>
                <key>textureRect</key>
                <string>{{1140,0},{60,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RED7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,30}</string>
                <key>spriteSourceSize</key>
                <string>{60,30}</string>
                <key>textureRect</key>
                <string>{{1200,0},{60,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RED8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,30}</string>
                <key>spriteSourceSize</key>
                <string>{60,30}</string>
                <key>textureRect</key>
                <string>{{1260,0},{60,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RED9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,30}</string>
                <key>spriteSourceSize</key>
                <string>{60,30}</string>
                <key>textureRect</key>
                <string>{{1320,0},{60,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{1500,30}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:687feca7a1fd36395857259ed8920ccc:cf386346c1509d7a0a69326d2aacd257:b2cae276934292945ac49b6ea6cfb4fe$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
